@model Blog

@if (Model == null)
{
    <h1>
        Detail blog tidak ditemukan :)
    </h1>
}
else
{
    <p>Judul : @Model.Title</p>

    <br />
    <p>Konten : @Model.Content</p>

    <br />
    <p>Status : @Model.Status</p>

    <br />
    <p>Penulis : @Model.User.Name</p>
}

<br />
<br />

<a asp-action="ubah" asp-route-id="@Model.Id" class="bi bi-pencil" style="color:forestgreen"> Ubah</a>

&nbsp;

<a asp-action="hapus" asp-route-id="@Model.Id"
   class="bi bi-trash" title="Keluar" style="color:red"
   onclick="if (! confirm('Yakin akan menghapus blog ini ?')) { return false; }">
    Hapus
</a>